@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
.container{
  width: 100%;
  height: 100vh;
  background-color: black;
  color:white;
  overflow: hidden;
}
.content{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
h1{
 font-family: 'Exo', sans-serif;
  margin-bottom: 40px;
  margin-top: -70px;
  font-size: 70px;
  letter-spacing: 10px;
}
p{
  color: white;
  font-family: 'Bubbler One', sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
}
a{
  
  color: inherit;
  text-decoration: none;
 
}
span{
  background-color: black;
  font-size: 25px;
  border:2px solid white;
  padding:18px;
  border-radius: 35px;
  box-shadow: 0 0 15px 2px white;
  transition: .2s;
  letter-spacing: 4px;
  font-family: 'Quicksand', sans-serif;
  user-select: none;

}
span:hover{
  transition: .2s;
  background-color: white;
  color:black;
  box-shadow: 0 0 40px 3px white;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  margin: 40px;
  transform: scale(3.5);
  margin-bottom: 80px;
  transition: 0.2s;
}
li:hover{
  transition: 0.2s;
  transform: scale(4);
}
